.wrapper {
  max-width: 1300px;
  margin: 150px auto 0;
  padding: 0 50px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.searchBlock {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.searchBlock input {
  background: #000;
  padding: 5px 10px;
  border-radius: 12px;
  width: 275px;
  color: #fffcfc;
}

.searchBlock .searchBtn {
  background: #ff0000;
  color: #fffcfc;
  padding: 5px 20px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 1px 14px 12px rgba(255, 0, 0, 0.43);
  -moz-box-shadow: 0px 1px 14px 12px rgba(255, 0, 0, 0.43);
  box-shadow: 0px 1px 14px 8px rgba(255, 0, 0, 0.43);
  cursor: pointer;
}

.cardsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
  margin-bottom: 40px;
}

.loadMore {
  display: flex;
  justify-content: center;
}

.loadBtn {
  border: 1px solid #fff;
  padding: 8px 25px;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
}

.loadBtn:hover {
  background: #fff;
  color: #ff0000;
}